.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 12px;
    color: black;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(36, 245, 36);
    color: black;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

body{
    background-position: center;
    background-repeat: no-repeat;
}